<div class="grid">
    <div class="grid-item--logo">
        <img src="./../../../assets/globo.png">
    </div>
    <div class="grid-item--points"> {{ contador}} </div>
    <div class="grid-item--logo">
        <img src="./../../../assets/monumento.png">
    </div>
    <div class="grid-item--points"> {{ contador}} </div>
    <div class="grid-item--logo">
        <img src="./../../../assets/biologia.png">
    </div>
    <div class="grid-item--points"> {{ contador}} </div>
    <div class="grid-item--logo">
        <img src="./../../../assets/deportes.png">
    </div>
    <div class="grid-item--points">{{ contador}} </div>
</div>


