/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(8, 7, 9);
}
* {
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
    color:antiquewhite;
}